body{
    font-family: 'Poppins', sans-serif;
    background: #E8E8E8;
}
.position-sticky{
    z-index: 1000 !important;
}
#exampleModal2{
    backdrop-filter: blur(15px);
    z-index: 10000 !important;
}
.r_b2b{
    /*
    transform-origin: x-axis y-axis
    */
    transform-origin: left center ;
    background: #0F7DD8 !important;
    transform: scale(0.8,0.8);
    transition: all linear .3s;
    left: -48px !important;
}
.r_custom_smallest{
    font-size: 12px;
}
.r_m55 img:hover{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
}
.r_m55 a:hover{
    
    background: transparent;
}
.r_blue{
    color: #0076D7;
}
.r_tbdr{
    /* border: 1px dashed red */
    
    
}

header{
    min-height: 81px;
    z-index: 10000;
}
.r_ccp,.r_ccn{
    visibility: visible;
}
.r_mainslider:hover{
    cursor: pointer;
}
.r_mainslider .r_ccp,.r_mainslider .r_ccn{
    background: rgba(0, 0, 0, 0.8);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    visibility: hidden;
}
.r_ccp{
    left: 20px;
}
.r_ccn{
    right: 20px;
}
.r_mainslider:hover .r_ccp,.r_mainslider:hover .r_ccn{
    visibility: visible;
    

}
.r_mainslider img{
    height: 275px;
    width: 100%;
}
.carousel-indicators button{
    width: 6px !important;
    height: 6px !important;
}
.r_m11{
    height: 275px;
}
ul.r_m22_icon > li > a:hover{
    background: white;
}
ul.r_m22_icon > li > a > img{
    width: 65px;
    height: 65px;
}
ul.r_m22_icon > li > a:hover > img{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
}
ul > li > a:hover{
    background: #EDEDED;
    cursor: pointer;
}
.r_menu > li:hover ul{
    display: block; /* Show */
}
.r_submenu{
    width: 100px;
    display: none; /* Hide */
}
main{
    padding-bottom: 100px;
}
.r_download{
    height: 28px;
    width: 100px;
    font-size: 10px;
    margin-left: 250px;
    margin-top: 30px;
}
.r_download_img{
    height: 50px;
    width: 25px;
    margin-left: 345px;
    margin-top: -40px;
}
.mt-5.r_mt-5{
    margin-top: 5rem!important;
}
footer{
    

}
.r_city_input{
    background: #EEE;
}
.r_city_input2:focus{
    background: transparent;
}
.r_scrollToTop{
    animation-name:stp;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
.r_m_popular_brands{
}
.r_pop_slider{
    height: 250px;
}
.r_pop_slider > ul{
    width: 6075px;
}
.r_pop_slider a{
    width: 370px;
}
.r_pop_lc{
    z-index: 1000;
}
.r_pop_ul{
    animation-name: pop_ul;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-direction: normal;
}
@keyframes pop_ul{
    0%{
        transform: translateX(0px);
    }
    6%{
        transform: translateX(-405px);
    }
    7%{
        transform: translateX(-405px);
    }
    13%{
        transform: translateX(-810px);
    }
    14%{
        transform: translateX(-810px);
    }
    20%{
        transform: translateX(-1215px);
    }
    21%{
        transform: translateX(-1215px);
    }

    27%{
        transform: translateX(-1620px);
    }
    28%{
        transform: translateX(-1620px);
    }

    34%{
        transform: translateX(-2025px);
    }
    35%{
        transform: translateX(-2025px);
    }

    41%{
        transform: translateX(-2430px);
    }
    42%{
        transform: translateX(-2430px);
    }

    48%{
        transform: translateX(-2835px);
    }
    49%{
        transform: translateX(-2835px);
    }

    55%{
        transform: translateX(-3240px);
    }
    56%{
        transform: translateX(-3240px);
    }

    62%{
        transform: translateX(-3645px);
    }
    63%{
        transform: translateX(-3645px);
    }

    69%{
        transform: translateX(-4050px);
    }
    70%{
        transform: translateX(-4050px);
    }
    
    76%{
        transform: translateX(-4455px);
    }
    77%{
        transform: translateX(-4455px);
    }
    
    
    83%{
        transform: translateX(-4860px);
    }
    84%{
        transform: translateX(-4860px);
    }
    90%{
        transform: translateX(-5265px);
    }
    91%{
        transform: translateX(-5265px);
    }
    97%{
        transform: translateX(-5670px);
    }
    98%{
        transform: translateX(-5670px);
    }
    100%{
        transform: translateX(-6000px);
    }
}
@keyframes stp {
    from{
        opacity: 0;
        transform: scale(0,0);
    }
    to{
        transform: scale(1,1);
        opacity: 1;
    }
}
.r_footer1{
    height: 112px;
}
.r_footer2{
    height: 1295px;
}
.r_footer3{
    height: 295px;
}
.r_footer4{
    height: 98px;
}

.r_tnr{
    font-family: 'Times New Roman', Times, serif;
}


::-webkit-input-placeholder {
    font-size: 25px;
    font-weight:bold;
    color:#333 !important;
    opacity:0.5 !important;
}
 
:-moz-placeholder { /* Firefox 18- */
       font-size: 25px;
       font-weight:bold;
       color:#333 !important;
       opacity:0.5 !important;
}
 
::-moz-placeholder {  /* Firefox 19+ */
       font-size: 25px;
       font-weight:bold;
       color:#333 !important;
       opacity:0.5 !important;
}
 
/* Overriding styles */
 
::-webkit-input-placeholder {
    font-size: 15px!important;
    font-weight:bold;
    color:#333 !important;
    opacity:0.5 !important;
}
 
:-moz-placeholder { /* Firefox 18- */
       font-size: 15px!important;
       font-weight:bold;
       color:#333 !important;
       opacity:0.5 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px!important;
       font-weight:bold;
       color:#333 !important;
       opacity:0.5 !important;
}
.r_search_form{
    position: fixed;
    top: 15px;
    z-index: 10000;
    left: 100px;
    background: white;
    transition: all linear 5s !important;
}
.r_animation{
    animation-name: myanimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate;
}
.r_xyz > img{
    transform-origin: right bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
}
.r_xyz:hover > img{
    transform: scale3d(1.1,1.1,1);
}
.r_xyz > span{
    transform-origin: left bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
}
.r_xyz:hover > span{
    transform: scale3d(1.1,1.1,1);
}
.r_xyz:hover .r_b2b{
    left: 0px !important;
}
.r_xyz:hover .r_b2b{
    color: #0F7DD8 !important;
    background: #fff !important;
}
.r_xyz:hover i{
    color: #085799;
}
.r_orange{
    background-color: orangered;
}
@keyframes myanimation {
    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-42px);
    }
    100%{
        transform: translateY(-42px);
    }
}
@media screen and (min-width:577px){
    main{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (max-width:576px){
    main{
        padding-left: 10px;
        padding-right: 10px;
    }
    .r_form_col{
        height: 50px;
    }
    .r_mt-5{
        margin-top: 400px !important;
        padding-top: 40px;
    }
    footer{
        position: fixed;
        bottom: -2px;
        left: 0px;
        width: 100%;
    }
    .r_tbdr{
        border: 1px solid white;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1295px;
}